button{
    background-color: aqua ;
    padding: 5px 40px;
    border:none;
    font-size: 120%;
    font-weight: bold;
    margin: 10px;
}
p{
    border: 2px solid rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    margin: 5px;
}
.second{
    background-color: rgb(169, 169, 169);
    color: aliceblue;
}